
<div class="footer" >
    <span class="item">resort.in</span>
    <span class="item">Privacy</span>
    <span class="item">Terms and conditions</span>
    <span class="item"><a href="/about"> Company details</a></span>
</div>