<div id="background">
   <%- layout("/layouts/boilerplate.ejs")  %>
   <div class=" shiftCenter photocenter">
      <h1 class="center"><b><i>About the website</i></b>  </h1> <br>
         <p class="center"><i><b>A place you can upload your hotel</b> </i></p>
         <div >
          <img class="image" src="https://res.cloudinary.com/di3sion8u/image/upload/v1745420927/BookRooms/mmn1j8bedjgjd5r5sfek.png" alt="Owners" height="200px" width="200px"> <br>
           <h4 class="image"><b><i>Rahul Shukla</i></b></h4> 
            <section id="about">
              <h2>About Me</h2>
              <p>
                Hi, I'm Rahul Shukla — a passionate web developer  and a tech enthusiast currently pursuing BTech <br> from Madan Mohan Malaviya University. I created this platform, BookRooms, <br> to make hotel listing and booking easier  and more accessible for everyone.
              </p>
              <p>
                This website allows hotel owners to upload their listings effortlessly, <br> and helps users find reliable accommodation with just a few clicks. <br> I'm constantly working on improving the features and user experience.
              </p>
              <p>
                Thank you for visiting — and feel free to reach out if you have feedback or suggestions!
              </p>
            </section>
       </div> 
          <h1>Contact Me</h1>
        </div>
        <div class="footer">
         <span class="item"> email Me: rs1256046@gmail.com</span>
         <span class="item "> <a href="https://github.com/RahulShukla387" target="_blank"> github</a> </span>
         <span class="item"><a href="https://www.linkedin.com/in/rahul-shukla-b00475323" target="_blank"> linkdln</a></span>
     </div> 
        
</div>