<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body id="background">
    <form action="/myphoto" method="post" enctype="multipart/form-data">
      <h1>Acess Photo</h1>
       <input type="file" name="myphoto" id="myphoto">
       <input type="submit" name="" id="" placeholder="Submit">
    </form>
</body>
</html>